<h2>CATEGORIES INDEX</h2>

<ol>
  <% @categories.each do |category| %>
    <li>
      <%= link_to category_products_path(category) do%>
      <% category.name %>
      <%# cayegory.products_count %>
      <% end %>
    </li>
    <% end %>
</ol>
